@model FabrikaHR.Models.Concrate.User

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PersonelLayout.cshtml";
}

<center> <h1>PERSONEL EKRANI</h1> </center>
<br />
<br />
<br />
<center> <img src="~/template/img/baslangic_logosu.png" width="350" height="350"></img> </center>


